/* 
 * Based on the W3Schools tutorial for how to make a navbar
 * because I didn't know how. The "a"s control styling for the <Link/>s on the JS.
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px #888888;
    background-color: white;
}
li {
    float: left;
}
a {
    display: block;
    padding: 8px 16px;
    color: #136A48;
    text-align: center;
    font-weight: bold;
    background: none;
    border: none;
    text-decoration: none;
}
a img {
    max-height: 2em;
}
#img_btn {
    padding-top: 2px;
    padding-bottom: 0;
}

/* For the hero image. */
#hero_img {
    padding: 3em;
    margin: 1em;
    margin-inline: 0;
    background-image: url(https://d1icd6shlvmxi6.cloudfront.net/gsc/8Q5MX4/53/2f/54/532f5456326a498990ea2620a7eed702/images/times/u0_state0.png?pageId=6aa7ecff-1dd9-4d6c-8bdd-7868752c1c7a);
    background-size: cover;
}