#detailsForm {
    display: grid;
    grid-template-columns: 20em 20em;
    max-width: 40em;
    margin: auto;
}

.detailsCell {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.checkboxCell {
    display: flex;
    margin: 1em;
}

.checkboxCell input[type="checkbox"] {
    margin-right: 1em;
}

.inputLabel {
    text-align: left;
}

.checkboxLabel {
    text-align: center;
}