#detailsForm {
    display: grid;
    grid-template-columns: auto auto;
}

#detailsForm input {
    max-width: 20em;
    margin: auto;
}

.detailsCell {
    margin: 2em;
}

.inputLabel {
    text-align: left;
    width: 20em;
}