#startBtn {
    background-color: rgb(12, 154, 215);
    border-color: rgb(12, 154, 215);
    box-shadow: none;
    border-radius: 5px;
    border-style: none;
    margin: 2em;
    color: white;
    width: 10em;
    height: 3em;
}