
#rectangle {
    width: 1200px;
    height: 170px;
    background-color: #c9c9c9;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 100px;
    padding: 10px 2px 2px 2px;
    box-sizing: border-box;
  }

h1{
    margin-right: 500px;
}

button{
    margin-left: 500px;
    margin-top: 25px;
}